<!-- ============================================================== -->
<!-- Main wrapper -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <app-header></app-header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <app-sidebar></app-sidebar>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row el-element-overlay">
                <div class="col-md-12">
                    <h4 class="card-title">Bebidas</h4>
                    <h6 class="card-subtitle m-b-20 text-muted"></h6>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a [routerLink]="['/bebidas/Refrescos']">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex no-block">
                                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/refresco.png" alt="Income" /></div>

                                    <div class="align-self-center">
                                        <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Refrescos</h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a [routerLink]="['/bebidas/Aguas']">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex no-block">
                                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/agua.png" alt="Income" /></div>

                                    <div class="align-self-center">
                                        <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Aguas</h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/cafe.png" alt="Income" /></div>

                                <div class="align-self-center">
                                    <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Cafes</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a [routerLink]="['/bebidas/Infusiones']">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex no-block">
                                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/te.png" alt="Income" /></div>

                                    <div class="align-self-center">
                                        <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Infusiones</h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/cerveza.png" alt="Income" /></div>

                                <div class="align-self-center">
                                    <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Cervezas</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a [routerLink]="['/bebidas/Vinos']">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex no-block">
                                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/vino.png" alt="Income" /></div>

                                    <div class="align-self-center">
                                        <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">vino</h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/alcoholicas.png" alt="Income" /></div>

                                <div class="align-self-center">
                                    <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Destiladas</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="m-r-20 align-self-center"></div>

                                <div class="align-self-center">
                                    <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Otras</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <div class="row el-element-overlay">
                <div class="col-md-12">
                    <h4 class="card-title">Platos</h4>
                    <h6 class="card-subtitle m-b-20 text-muted"></h6>
                </div>
                <div class="col-lg-3 col-md-6" style="max-width: 12.5%;"></div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/carne.png" alt="Income" /></div>

                                <div class="align-self-center">
                                    <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Carnes</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/pescado.png" alt="Income" /></div>

                                <div class="align-self-center">
                                    <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Pescados</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/marisco.png" alt="Income" /></div>

                                <div class="align-self-center">
                                    <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Mariscos</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" style="max-width: 12.5%;"></div>
                <div class="col-lg-3 col-md-6" style="max-width: 12.5%;"></div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/entrantes.png" alt="Income" /></div>

                                <div class="align-self-center">
                                    <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Entrantes</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/ensalada.png" alt="Income" /></div>

                                <div class="align-self-center">
                                    <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Ensaladas</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex no-block">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/pasta.png" alt="Income" /></div>

                                <div class="align-self-center">
                                    <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Pasta</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" style="max-width: 12.5%;"></div>
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->