<!-- ============================================================== -->
<!-- Main wrapper -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <app-header></app-header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <app-sidebar></app-sidebar>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row el-element-overlay">
                <div class="col-md-12">
                    <h4 class="card-title">Bebidas</h4>
                    <h6 class="card-subtitle m-b-20 text-muted"></h6>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-content">
                                <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Alcoholicas</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="el-card-item">
                            <a [routerLink]="['/refrescos']">
                                <div class="el-card-content">
                                    <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Refrescos</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="el-card-item">

                            <div class="el-card-content">
                                <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Cafes/Infusiones</h3>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-content">
                                <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Aguas</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-content">
                                <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Project title</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-content">
                                <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Project title</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-content">
                                <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Project title</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-content">
                                <h3 class="box-title" style="text-align: center;padding-top: 7%;padding-bottom: 7%;">Project title</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->