<!-- ============================================================== -->
<!-- Main wrapper -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Header -->
    <!-- ============================================================== -->
    <app-header></app-header>
    <!-- ============================================================== -->
    <!-- End Header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar -->
    <!-- ============================================================== -->
    <app-sidebar></app-sidebar>
    <!-- ============================================================== -->
    <!-- End Left Sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- .left-right-aside-column-->
                        <div class="contact-page-aside">
                            <div class="right-aside">
                                <div class="right-page-header">
                                    <div class="d-flex">
                                        <div class="align-self-center">
                                            <h4 class="card-title m-t-10">
                                                Lista de {{subCat}}
                                            </h4>
                                        </div>
                                        <div class="ml-auto">
                                            <input type="text" id="demo-input-search2" placeholder="Buscar empleado" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                                        <thead>
                                            <tr>
                                                <th>Nº</th>
                                                <th>Nombre</th>
                                                <th>Categoria</th>
                                                <th>Subcategoria</th>
                                                <th>Precio de compra</th>
                                                <th>Precio de venta</th>
                                                <th>Stock</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <!-- Bebidas List-->
                                        <tbody *ngFor="let result of result; index as i">
                                            <tr>
                                                <td style="text-align: center;">{{ i + 1 }}</td>
                                                <td>
                                                    <a href="app-contact-detail.html"><img style="width: 30px;" src="" alt="" class="img-circle" /> {{ result.nombre }} </a>
                                                </td>
                                                <td style="text-align: center;">{{ result.categoria }}</td>
                                                <td style="text-align: center;">{{ result.subCategoria }}</td>
                                                <td style="text-align: center;">
                                                    <span class="label label-danger">{{result.precioCompra}}€</span>
                                                </td>
                                                <td style="text-align: center;">
                                                    <span class="label label-success">{{result.precioVenta}}€</span>
                                                </td>
                                                <td style="text-align: center;">
                                                    {{result.stock}}
                                                </td>
                                                <td style="text-align: center;">
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip">
                                                    <i class="ti-close" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <!-- End Bebidas List-->
                                    </table>
                                </div>
                                <!-- .left-aside-column-->
                            </div>
                            <!-- /.left-right-aside-column-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->