<!-- ============================================================== -->
<!-- Header -->
<!-- ============================================================== -->
<app-header></app-header>
<!-- ============================================================== -->
<!-- End Header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar -->
<!-- ============================================================== -->
<app-sidebar></app-sidebar>
<!-- ============================================================== -->
<!-- End Left Sidebar -->
<!-- ============================================================== -->


<button (click)="addItem()" class="left-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-plus text-white"></i></button>
<button data-toggle="modal" data-target="#grid-settings" class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>

<gridster [options]="options">
    <gridster-item style="background: url(../assets/images/background/mesa.jpg) center center / cover no-repeat;" [item]="item" *ngFor="let item of dashboard">
        <div class="button-holder">
            <button mat-mini-fab (mousedown)="removeItem($event, item)" (touchstart)="removeItem($event, item)">
              <mat-icon>delete</mat-icon>
            </button>
        </div>
    </gridster-item>
</gridster>
<!-- Cuadricula de distribucion-->
<div id="grid-settings" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Configuración</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h6>Configuración de la cuadricula</h6>
                <div class="row" style="margin: auto;width: 80%;">
                    <div class="col">
                        <div class="row">
                            <label>Tipo de Lineas</label>
                        </div>
                        <div class="row">
                            <select style="height: 25px;" aria-label="Grid type" [(ngModel)]="options.gridType" (ngModelChange)="changedOptions()" placeholder="Grid Type">
                            <option value="fit">Fit to screen</option>
                            <option value="scrollVertical">Scroll Vertical</option>
                            <option value="scrollHorizontal">Scroll Horizontal</option>
                            <option value="fixed">Fixed</option>
                            <option value="verticalFixed">Vertical Fixed</option>
                            <option value="horizontalFixed">Horizontal Fixed</option>
                        </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <label>Mostrar Lineas</label>
                        </div>
                        <div class="row">
                            <select style="height: 25px;" aria-label="Display grid lines" [(ngModel)]="options.displayGrid" placeholder="Display grid lines" (ngModelChange)="changedOptions()">
                        <option value="always">Always</option>
                        <option value="onDrag&Resize">On Drag & Resize</option>
                        <option value="none">None</option>
                    </select>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin: auto;width: 50%;">
                    <mat-form-field>
                        <input matInput [(ngModel)]="options.margin" min="0" max="30" step="1" type="number" placeholder="Margin" (ngModelChange)="changedOptions()">
                    </mat-form-field>
                    <mat-checkbox [(ngModel)]="options.outerMargin" (ngModelChange)="changedOptions()">Margen exterior</mat-checkbox>
                    <mat-form-field style="margin: auto;width: 50%;">
                        <input matInput [(ngModel)]="options.outerMarginTop" min="0" max="30" step="1" type="number" placeholder="Margen Superior" (ngModelChange)="changedOptions()">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="options.outerMarginRight" min="0" max="30" step="1" type="number" placeholder="Margen Derecho" (ngModelChange)="changedOptions()">
                    </mat-form-field>
                    <mat-form-field style="margin: auto;width: 50%;">
                        <input matInput [(ngModel)]="options.outerMarginBottom" min="0" max="30" step="1" type="number" placeholder="Margen Inferior" (ngModelChange)="changedOptions()">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="options.outerMarginLeft" min="0" max="30" step="1" type="number" placeholder="Margen Izquierdo" (ngModelChange)="changedOptions()">
                    </mat-form-field>
                </div>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>